apiVersion: v1
kind: Service
metadata:
  name: {{ include "vijay-app.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
  selector:
    app: {{ include "vijay-app.name" . }}

