replicaCount: 1

image:
  repository: ""
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

httpRoute:
  enabled: false

ingress:
  enabled: false 

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}

