replicaCount: 1

image:
  repository: "200901485389.dkr.ecr.us-east-1.amazonaws.com/vijay_test"
  tag: "afdc0c6"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

httpRoute:
  enabled: false

ingress:
  enabled: false 

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}

